body {
    font-family: Maiandra GD,Monotype Corsiva,Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/m6BtPt8.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    background-color: rgb(7, 64, 86);
    color: white;
    border: none;
    cursor: pointer;
    margin: 4px;
    font-family: Maiandra GD;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
}
